body {
  padding: 0;
  margin: 0;
}

h1 {
  font: 20px "Avenir Next", Arial, Helvetica, sans-serif;
}

h5 {
  font: 16px "Avenir Next", Arial, Helvetica, sans-serif;
}

p {
  font: 12px "Avenir Next", Arial, Helvetica, sans-serif;
  text-align: justify;
}

#map {
  width: 100%;
  height: 700px;
}

.leaflet-popup-content-wrapper {
  background: white;
  font: 12px "Avenir Next", Arial, Helvetica, sans-serif;
}

.leaflet-popup-tip {
  background: white;
}

.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 0px;
}

.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  font: 12px "Avenir Next", Arial, Helvetica, sans-serif;
  color: #343332;
  background: white;
}

.botoninfo {
  display: inline-block;
  background: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  padding: 7px;
  border: none;
  border-radius: 0px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.botoninfo:hover {
  background: #e6e6e6;
}
